Repository NeshOfficial/ai25-python, pull requests merged in 2024-07, with the labels that each got.

#3 add header the feature
  secrets.py
Labels: size:s

#4 add config.pi file in features
  configue.pi
Labels: size:xxl

#7 Add the new feature in tasks.py
  secrets.py
  tasks.py
Labels: size:l
